<div id='nav-bar'></div>
<div id='header-block'>
  <div id='header-block-content'>
    <div class='post-title'>{{ blogName }}</div>
    <div class='post-info'>
      <span class='post-detail'>{{ blogSubtitle }}&nbsp;</span>
    </div>
  </div>
</div>

<div id="artile-list-container"></div>
