html, body {
  font-family: "Source Han Sans CN", -apple-system, "Microsoft YaHei UI", "微软雅黑", sans-serif;
  background-color: #fafafa;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
}

* {
  border-radius: 0 !important;
}

a {
  appearance: none;
  color: rgb(68, 114, 196);
}

dt {
  font-weight: bolder;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

code {
  font-family: "Microsoft YaHei Hybrid", "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace;
}

img, .stretchy svg {
  max-width: 100%;
  line-height: 135%;
}

#main {
  max-width: 88%;
}

#footer {
  font-size: 12px;
  color: rgb(128, 128, 128);
}

.pagination {
  display: inline-block;
}

.title1 {
  font-size: 32px;
  color: rgb(68, 114, 196);
  font-weight: bolder;
}

.smalltitle {
  font-size: 13px;
  color: rgb(64, 64, 64);
  font-weight: bolder;
}

.title2 {
  font-size: 28px;
  color: rgb(68, 114, 196);
  line-height: 100%;
}

.info {
  font-size: 18px;
  color: black;
}

.smalltext {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

@media (min-width: 801px) {
  #main {
    width: 72%;
  }
  .title1 {
    font-size: 32px;
  }
  .smalltitle {
    font-size: 15px;
  }
  .title2 {
    font-size: 30px;
  }
  .info {
    font-size: 20px;
  }
  .smalltext {
    font-size: 15px;
  }
}

@media (min-width: 1281px) {
  .title1 {
    font-size: 48px;
  }
  .title2 {
    font-size: 36px;
  }
}