html, body {
  line-height: 1.7;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

footer {
  margin-top: 50px;
  margin-bottom: 100px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}

a, a:link, a:visited, a:hover, a:active {
  color: #337ab7;
  text-decoration: none;
}

*:focus {
  outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

.avatar .user {
  position: relative;
  z-index: 100;
  background: #dbdfe4;
  padding: 0;
}

.avatar .user, .avatar img {
  border-radius: 3px;
}

#layout, .btn-default, .dropdown-menu .divider, .follow-btn, .post-content .post-body {
  overflow: hidden;
}

.avatar img {
  width: 48px;
  height: 48px;
}

.author a {
  font-weight: 700;
}

.comment__header {
  line-height: 1;
  font-size: 13px;
  padding-right: 46px;
  margin-bottom: 3px;
}

.post .avatar {
  margin-right: 12px;
}

.bread-form {
  margin-top: 2px;
}

.bread-search {
  background-color: transparent;
  color: #FFF;
}

.bread-blog-meta {
  font-family: Lora, Times New Roman, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}

.bread-from-control {
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-radius: 0;
  color: white;
}

.bread-btn {
  color: white;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
}

.page-full {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

header.intro-header .site-heading {
  color: white;
}

header h1, .site-heading h1 {
  font-style: normal;
}

header.intro-header .site-heading {
  color: white;
}

.intro-header .site-heading {
  text-align: center;
}

.intro-header .site-heading {
  padding: 95px 0 70px;
}

.intro-header .site-heading > h1 {
  font-style: inherit;
}

#bread-footer {
  font-size: 20px;
  margin: 50px 0 65px;
}

.bread-height-extended {
  padding-bottom: 7rem;
  margin-bottom: -7rem;
}

footer .copyright a {
  color: #337ab7;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.text-center {
  text-align: center;
}

.btn-clear {
  background-color: transparent;
  border-color: transparent;
}

.intro-header .site-heading {
  padding: 95px 0 70px;
  text-align: center;
}

.intro-header,
.post-heading,
.bread-meta {
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}

.tag {
  color: #FFF;
  line-height: 24px;
}

nav a {
  color: #FFF;
}

.sm-hidden {
  display: inline-flex;
}

.bread-navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-custom {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, STHeiti, Microsoft YaHei, Microsoft JhengHei, Source Han Sans SC, Noto Sans CJK SC, Source Han Sans CN, Noto Sans SC, Source Han Sans TC, Noto Sans CJK TC, WenQuanYi Micro Hei, SimSun, sans-serif;
  line-height: 1.7;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
}

.navbar-custom .navbar-brand {
  font-weight: 800;
  color: #fff;
  height: 56px;
  line-height: 25px;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  background: transparent;
  padding: 19px 1pc;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 50%;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

.nav-item > a {
  font-weight: 800;
  color: #777;
}

.bread-navbar-nav {
  flex-direction: row;
}

@media (max-width: 767px) {
  .bread-navbar-nav {
    flex-direction: column;
  }

  #bread-navbar .navbar-nav {
    margin: 7.5px -15px;
  }

  .nav-item {
    color: #777;
    padding: 10px 15px;
  }

  #bread-navbar a {
    font-size: 13px;
    line-height: 28px;
  }

  .sm-hidden {
    display: none;
  }

  /* 动画部分 */
  #bread-navbar {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top right;
    transition: all .2s cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
  }

  #bread-navbar.in {
    transform: scaleX(1);
    opacity: 1;
    transition: all .25s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  .navbar-default .navbar-collapse {
    position: absolute;
    margin-top: 56px;
    right: 0;
    border: none;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
    border-radius: 2px;
    width: 170px;
  }

  #bread-navbar {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top right;
    transition: all 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms;
  }

  #bread-navbar .navbar-collapse {
    height: 0px;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform 400ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
  }

  #bread-navbar li {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  #bread-navbar.in {
    transform: scaleX(1);
    opacity: 1;
    transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  #bread-navbar.in .navbar-collapse {
    transform: scaleY(1);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #bread-navbar.in li {
    opacity: 1;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
  }
}

@media (min-width: 768px) {
  .bread-navbar-nav {
    flex-direction: row;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-item {
    float: left;
    padding: 15px;
  }

  .navbar-right {
    float: right;
  }

  .navbar-custom .nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12pt;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .intro-header .post-heading .meta {
    font-size: 20px;
  }

  .intro-header .page-heading h1, .intro-header .site-heading h1 {
    font-size: 4pc;
  }
}
