.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.icon-bar + .icon-bar {
  margin-top: 3px;
}

.icon-bar {
  display: block;
  height: 2px;
  width: 18px;
  border-radius: 0;
  background-color: #FFFFFF;
}

.intro-header {
  background: no-repeat center center;
  background-color: #03A9F4;
  background-attachment: scroll;
  background-size: cover;
  margin-bottom: 0;
}

.site-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-lists > a {
  color: #404040;
}

.post-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 1.3;
}

.post-content-preview {
  font-size: 13px;
  font-style: italic;
  font-color: #A3A3A3;
}

footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

.page-heading h1, .site-heading h1 {
  font-family: normal;
}

.navbar-white {
  background: #FFF;
}

.navbar-white * {
  color: #777 !important;
}

.navbar-white .icon-bar {
  background-color: #777;
}

@media only screen and (max-width: 767px) {

  .navbar-white {
    opacity: 1;
    border-bottom: 1px solid #f2f2f2;
  }
}

@media only screen and (min-width: 768px) {

  .navbar-white {
    opacity: 0.8;
    border-bottom: 1px solid #f2f2f2;
  }

  .intro-header .page-heading h1, .intro-header .site-heading h1 {
    font-size: 4.5pc;
  }
}
