{
  "extends": ["standard"],
  "plugins": ["html"],
  "rules": {
    "no-unused-vars": [
      2,
      {
        "varsIgnorePattern": "^BlogGlobals$"
      }
    ]
  },
  "settings": {
    "html/indent": "0",
    "html/report-bad-indent": "error"
  },
  "globals": {
    "BlogGlobals": false
  },
  "env": {
    "browser": true
  },
  "parser": "@babel/eslint-parser"
}
