{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "plugins": [
    "html"
  ],
  "rules": {
    "no-unused-vars": [
      2,
      {
        "varsIgnorePattern": "^BlogGlobals$"
      }
    ],
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ],
    "no-console": "off",
    "vue/name-property-casing": "off",
    "vue/component-name-in-template-casing": "off"
  },
  "settings": {
    "html/indent": "0",
    "html/report-bad-indent": "error"
  },
  "globals": {
    "BlogGlobals": false
  },
  "env": {
    "browser": true
  }
}
