.mdblog-title-container {
  height: 90px;
  padding-left: 70px;
  padding-top: 90px;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:50px;
}

#mdblog-drawer {
  background-color: white;
}

.mdblog-article-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  min-height:100vh;
  margin:0;
  padding:0;
  position:relative;
}

main {
  margin-top: 80px;
  margin-bottom: 70px;
}

.mdblog-list-title {
  text-decoration: none;
  color: black;
}

.mdblog-comment-username {
  text-decoration: none;
  color: black;
}


.mdblog-fab {

}
.mdblog-fab-icon {
  color: white!important;
}
.mdblog-article-container {
  padding: 50px;
}
.mdblog-article-content {
  margin-top: 15px;
  font-size: 110%;

  margin-left: 3px;
}
.mdblog-article-time {
  margin-left: 3px;
}
.mbblog-article-title {

}

.mdblog-comment-send-btn {
  cursor:pointer;
}
