body {
    background-color: #FFFFFF;
}

a,a:link,a:visited,a:focus{
    text-decoration: none;
    color: #000000;
}

a {
    position: relative;
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #000;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    transition: all 0.3s ease-in-out;
}

a:hover::after {
    width: 100%;
}

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0%;
    left: 0%;
    background-color: #FEFEFE;
    box-shadow: 1px 1px 2px #666666;
    border-left-color: #FFFFFF;
    list-style: none;
    transition: all 0.30s ease-in-out;
}

.menu:hover {
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0%;
    box-shadow: 2px 2px 4px #666666;
}

.menu li:not(.rightli) {
    float: left;
    margin-right: 2%;
    text-align: center;
}

.menu li a {
    display: block;
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    padding: 14px 16px;
    color: #000000;
}

.menu li a:hover {
    display: block;
    text-decoration: none;
    background-color: #F6F6F6;
}

.rightli {
    float: right;
}

.bm {
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 2px;
    color: #666666;
    transition: all 0.30s ease-in-out;
}

.clist {
    align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.cd {
    margin-top: 1%;
    border-style:none;
    border-bottom-style:solid;
    border-bottom-width:thin;
    border-bottom-color:#666666;
}
 
.cd:hover {
    box-shadow: 2px 2px 4px #666666;
    border-radius: 5px;
    transition: all 0.30s ease-in-out;
}

.mes {
    margin: 3%;
}

.tt {
    font-size: 30px;
}

.acs {
    margin: 2%;
}

#article-content img {
    max-width: 100%;
}

code {
    font-family: Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}

.disabled{
    pointer-events:none;
    cursor:default;
}
