.article-content {
    margin: 16px 0;
}

.article-actions {
    margin-top: 16px;
}

.inline-padding {
    padding: 0 8px;
}

.inline-padding-right {
    padding-right: 8px;
}

.text-grey {
    color: #bfbfbf;
}