@media only screen and (min-width: 1200px) {
  .blog-g-fixed {
	max-width: 1200px;
  }
}

@media only screen and (min-width: 641px) {
  .blog-sidebar {
	font-size: 1.4rem;
  }
}

body{
	background:#ddd;
}
#bodymain{
	min-height:1080px;
}

.blog-main {
  padding: 20px 0;
}

.blog-title {
  margin: 10px 0 20px 0;
}

.blog-meta {
  font-size: 14px;
  margin: 10px 0 20px 0;
  color: #222;
}

.blog-meta a {
  color: #27ae60;
}

.blog-pagination a {
  font-size: 1.4rem;
}

.blog-team li {
  padding: 4px;
}

.blog-team img {
  margin-bottom: 0;
}

.blog-content img,
.blog-team img {
  max-width: 100%;
  height: auto;
}

.blog-footer {
  padding: 10px 0;
  text-align: center;
}

.lg-summary {
    /* max-width: 250px; */
	padding: 10px 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 2px !important;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05) !important;
    border: none;
	text-align: center;
}

.lg-article {
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    background: rgba(255,255,255,0.9);
    padding: 16px;
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
}
.lg-article:first-child{
	margin-top: 20px;
}

.lg-footer {
    background: #111;
    color: #fff;
    padding-bottom: 30px;
}
.lg-footer > .blog-g-fixed{
	padding-top:20px;
}

.lg-footer-top {
    height: 10px;
    background-color: #666;
}
.am-comment-bd {
    background: #ffffff;
    font-size: 14px;
}
.voteactive{
	color:#0e90d2;
}

#blog-container img {
  max-width: 100%;
}
