<div id="article-list"></div>
<div class="mdui-fab-wrapper mdblog-fab" id="exampleFab">
    <button id="mdblog-scroll"
            class="mdui-fab mdui-ripple mdui-color-theme-accent">
        <i class="mdui-icon material-icons">keyboard_arrow_up</i>
    </button>
</div>